################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Plex.UIComponents/bin
/Plex.UIComponents/obj